.page {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 25px 35px;
    max-width: 600px;
    min-width: 338px;
    section {
        border-bottom: 1px solid #cfd5dc;
        padding-bottom: 40px;
        margin-bottom: 30px;
        &:last-child {
            border-bottom: none;
            margin-bottom: 0px;
        }
        .action {
            display: flex;
            flex-wrap: wrap; 
        }
        .request {
            display: flex;
            align-items: center;
            max-width: 315px;
            padding-left: 30px;
            div {
                margin-right: 5px;
            }
            img {
                width: 18px;
            }
        }
    }
    .segment {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: #848484;
        .part-left {
            display: flex;
            width: 280px;
            &>div {
                margin-right: 15px;
            }
        }
        .part-right {
            max-width: 170px;
            button {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .table-container {
        overflow-x: scroll
    }
    .btn {
        margin-right: 15px;
    }
    p {
        color: #848484;
        margin-bottom: 40px;
    }
}
@media(max-width: 580px) {
    .page {
        padding: 15px 25px;
        .segment {
            .part-left, .part-right {
                width: 100%;
                margin-bottom: 20px;
            }
            .part-right {
                text-align: left;
            }
        }
    }
}
@media(max-width: 660px) {
    .page {
        section {
            .request {
                margin-top: 15px;
                padding-left: 0;
            }
            
        }
    }
}