.contact-option {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    &> div {
        width: 50%;
    }
}
.toggle-switch {
    height: 50px;
    min-width: 260px;
    input[type=checkbox] {
        display: none;
    }
    input[type=checkbox] ~ label {
        font-weight: 700;
        position: relative;
        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            transition: all 100ms ease-in;
        }
        &:before {
            width: 48px;
            height: 28px;
            border-radius: 28px;
            box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);  
            left: 100px; 
        }
        &:after {
            width: 26px;
            height: 26px;
            border-radius: 26px;
            box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
            background-color: #fff;
            top: 1px;
            left: 101px;
            
        }
    }
    input[type=checkbox]:checked ~ label {
        &:before, &:after {
            
        }
        &:before {
            background-color: #26bd7f;
        }
        &:after {
            box-shadow: none;
            left: 121px;
        }
    }
}
