table.payment-list {
    font-size: 12px;
    //width: 588px;
    border-collapse: collapse;
    th, td {
        text-align: left;
        border-bottom: 1px solid #eee;
        overflow: hidden;
        white-space: nowrap;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 10px;
    }
    tbody {
        tr {
            &.active, &:hover {
                font-weight: 600;
            }
        }
        td {
            color: #353535;
        }
    }   
}
